.MyButton-container {
  border: none;
  background: #01356d;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  cursor: pointer;
}

.MyButton-container:active {
  background: #0263ca;
  outline: none;
}

.MyButton-container:hover {
  outline: none;
  opacity: 0.75;
}
