.container {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 2rem;
  box-sizing: border-box;
  background: #3f6cd5;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.navlist {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 2rem;
}

.navitem {
  list-style: none;
}

.navitem + .navitem {
  margin-left: 2rem;
}

.active {
  text-decoration: underline;
}
